logs
target
.metals
.bloop
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.metals/metals.log
.metals/metals.lock.db
.metals/metals.lock.db
project/.bloop/ludo-build.json
project/project/.bloop/ludo-build-build.json
