/* Game board container */
.ludo-board {
    position: relative;
    width: 90vh;
    height: 90vh;
    background-color: #8b008b;
    border: 2px solid #F5F5DC;
    padding: 20px;
}

.button-container3 {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.home-btn {
    cursor: pointer;
    max-width: 270px;
    width: 100%;
    height: auto;
}


.window-controls {
    display: flex;
    gap: 10px;
}

.control-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Game board grid */
.game-grid {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 3fr 2fr 3fr;
    gap: 2px;
    height: 100%;
}

/* Home bases */
.home-base {
    display: grid;
    width: 100%;
    height: 100%;
}

.home-base-green {
    background-color: #66BB6A;
}

.home-base-yellow {
    background-color: #FFC107;
}

.home-base-red {
    background-color: #D66C6C;
}

.home-base-blue {
    background-color: #6D9DC5;
}

/* Home squares (#F5F5DC areas inside colored bases) */
.home-square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #F5F5DC;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 10%;
}
.pawn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Path squares */
.path-vertical {
    display: grid;
    background-color: #F5F5DC;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
}

.path-horizontal {
    display: grid;
    background-color: #F5F5DC;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
}

.path-square {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

.center-star {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

.center-star div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.top-left {
    background: #FFC107;
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%);
}

.top-right {
    background: #6D9DC5;
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
}

.bottom-left {
    background: #66BB6A;
    clip-path: polygon(50% 50%, 0% 100%, 0% 0%);
}

.bottom-right {
    background: #D66C6C;
    clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
}

.path-green {
    background-color: #66BB6A;
}

.path-yellow {
    background-color: #FFC107;
}

.path-red {
    background-color: #D66C6C;
}

.path-blue {
    background-color: #6D9DC5;
}

