@main("Ludo Game", "home-page") {
<div class="container">
    <div class="background-image">
        <img src="@routes.Assets.versioned("images/page/home.png")" alt="Ludo Logo" class="logo">
    </div>
    <div class="button-container">
        <img src="@routes.Assets.versioned("images/components/start.png")" alt="Start Button" class="start-btn"
            onclick="startGame()">
        <img src="@routes.Assets.versioned("images/components/howTo.png")" alt="How To Button" class="how-to-btn"
            onclick="howTo()">
    </div>
</div>

<script>
    function startGame() {
        window.location.href = '@routes.HomeController.start()';
    }

    function howTo() {
        window.location.href = "@routes.HomeController.howtoplay()";
    }
</script>
}