@main("Ludo Game", "home-page") {
<div class="container">
    <div class="background-image">
        <img src="@routes.Assets.versioned("images/page/home.png")" alt="Ludo Logo" class="logo">
    </div>
    <div class="button-container">
        <img src="@routes.Assets.versioned("images/components/button/start.png")" alt="Start Button" class="start-btn"
            onclick="startGame()">
        <img src="@routes.Assets.versioned("images/components/button/howTo.png")" alt="How To Button" class="how-to-btn"
            onclick="howTo()">
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/ludo-game.js")"></script>
}